.carousel-inner img {
    max-height: 600px; /* Установите желаемую максимальную высоту */
    object-fit: cover; /* Это свойство поможет сохранить пропорции изображения */
}

.custom-button {
    width: 200px; /* Установите желаемую ширину кнопки */
    margin: 0 auto; /* Центрирует кнопку */
    display: block; /* Делает кнопку блочным элементом */
}